Django==1.7.1
Scrapy==0.24.4
Twisted==14.0.2
cffi==0.8.6
characteristic==14.2.0
cryptography==0.6.1
cssselect==0.9.1
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
gunicorn==19.1.1
lxml==3.4.0
pyOpenSSL==0.14
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.10
pymongo==2.7.2
pystache==0.5.4
pywin32==219
queuelib==1.2.2
requests==2.4.3
scrapyd==1.0.1
service-identity==14.0.0
six==1.8.0
static==1.1.1
static3==0.5.1
w3lib==1.10.0
wsgiref==0.1.2
zope.interface==4.1.1
